/* Structural Tags */

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(65, 51, 71);
    margin: 0;
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

main {
    display: block;
    background-color: #fff;
    border: 1px solid #ddd;
    clear: both;
    width: 960px;
    margin: 25px auto;
    padding: 20px;
    margin-bottom: 50px;
}

main>img { 
    display: block;
    width: 200px;
    height: 200px;
}

main>img:nth-child(odd) {
    float: left;
    margin-right: 15px;
}

main>img:nth-child(even) {
    float: right;
    margin-left: 15px;
}

header {
    background-color: #FFF;
    border: 1px solid #ccc;
    display: block;
}

header>div {
    width: 960px;
    margin: 0px auto;
}

header h1 {
    display: inline-block;
    margin: 0px;
    padding: 5px;
    background-color: #4aaaa5;
}

footer {
    clear: both;
    border-top: 8px solid #4aaaa5;
    background-color: #666;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 5px;
}

nav {
    float: right;
    margin: 12px 0px;
}

/* General Tags */

figure {
    width: 250px;
    height: 200px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    margin: 20px;
}

figure img {
    width: 100%;
    height: 100%;
}

figcaption {
    position: absolute;
    bottom: 8%;
    left: 0;
    background-color: rgba(74,170,165,.75);
    width: 100%;
    text-align: center;
    color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
}

figcaption h4 {
    margin: 0px;
}

figcaption ul {
    margin: 0px;
    list-style-type: none;
    padding: 0;
}

figcaption ul li {
    display: inline-block;
    font-size: 10px;
}

figcaption ul li:nth-child(n+2)::before {
    content: " • ";
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
    color: #fff;
}

h2 {
    margin-top: 0px;
    color: #4aaaa5
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #4aaaa5;
}

h1 a:hover {
    color: #fff;
}

.copyright {
    font-size: 10px;
}

label, input, textarea {
    display: block;
    margin-bottom: 5px;
    width: 100%;
}

button {
    margin-top: 10px;
    background-color: #4aaaa5;
    color: #FFF;
    width: 100px;
    height: 30px;
}

p:first-of-type {
    margin-top: 0;
}